@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "nunito sans";
  font-weight: 300;
  letter-spacing: 2px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header {
  background-color: #f5d2d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: auto;
  width: auto;
}
header img {
  width: 150px;
  filter: drop-shadow(3px 2px 3px);
}
header nav ul, header a {
  color: #97252b;
  display: flex;
  gap: 1rem;
  padding-top: 10px;
}
header .carrito {
  display: flex;
}
@media (min-width: 481px) and (max-width: 1023px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
  }
}
@media (min-width: 1024px) {
  header a {
    font-size: 30px;
  }
  header img {
    width: 200px;
  }
}

footer div {
  background-color: #97252b;
  color: #f5d2d6;
  display: grid;
}
footer div h4 {
  justify-self: center;
  margin: 15px;
}
footer div a {
  color: #d3b96e;
  font-weight: bolder;
  font-style: italic;
  justify-self: center;
  margin: 10px;
  padding: 5px;
  font-size: 40px;
}

.portada {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.presentacion {
  display: grid;
  grid-template-rows: repeat(2 1fr);
  color: #97252b;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: 2px dotted #97252b;
}
.presentacion h1 {
  justify-self: center;
  margin: 15px;
  padding: 20px;
  font-size: 35px;
  color: #97252b;
}
.presentacion p {
  font-size: 15px;
  padding: 15px;
  text-align: center;
  margin: 0px 20px;
}

.colecciones {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  color: #97252b;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: 2px dotted #97252b;
  background-color: #f4df98;
}
.colecciones .cookies-mq {
  display: none;
}
.colecciones p {
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 0px 20px;
}
.colecciones p a {
  color: #97252b;
  font-weight: bolder;
  font-size: 17px;
}
.colecciones img {
  padding: 10px 0px;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.colecciones video {
  display: none;
}
.colecciones .variedad {
  width: fit-content;
  background: transparent;
  justify-self: center;
  padding: 5px 20px;
  border: 2px solid;
  color: #97252b;
  font-weight: 500;
  margin-bottom: 10px;
}

.comprar {
  display: grid;
  border-top: 1px dotted #f5d2d6;
  border-bottom: 1px dotted #f5d2d6;
  color: #97252b;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 5px;
  border-bottom: 2px dotted #97252b;
  background-color: #f5d2d6;
}
.comprar p {
  text-align: center;
  padding: 15px;
  margin: 0px 30px;
}
.comprar .adquirir {
  width: fit-content;
  background: transparent;
  justify-self: center;
  padding: 5px 20px;
  border: 2px solid;
  color: #97252b;
  font-weight: 500;
  margin-bottom: 10px;
}
.comprar img {
  width: auto;
  height: fit-content;
  padding-bottom: 10px;
  align-self: center;
  justify-self: center;
}

.about {
  display: grid;
  padding: 15px;
  color: #97252b;
  font-weight: 300;
  letter-spacing: 2px;
}
.about p {
  text-align: center;
  margin: 0px 20px;
  padding: 15px;
}
.about .nosotros {
  width: fit-content;
  background: transparent;
  justify-self: center;
  padding: 5px 20px;
  border: 2px solid;
  color: #97252b;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (min-width: 481px) and (max-width: 1023px) {
  .colecciones .cookies-mq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
  }
  .colecciones .cookies-mq p {
    align-self: center;
  }
  .colecciones .cookies-phone {
    display: none;
  }
}
@media (min-width: 1024px) {
  .colecciones .cookies-phone {
    display: none;
  }
}
.colecciones .ventana-variedad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}
.colecciones .ventana-variedad .contenedor-img {
  position: relative;
  width: 100%;
}
.colecciones .ventana-variedad .contenedor-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}
.colecciones .ventana-variedad .contenedor-img .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.colecciones .ventana-variedad .contenedor-img:hover .normal {
  opacity: 0;
}
.colecciones .ventana-variedad .contenedor-img:hover .hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
