$color-primario: #f5d2d6; //#f7d3e5
$color-secundario: #97252b;
$color-terciario: #d68230;
$color-letra-footer: #d3b96e;
$font-principal: 'nunito sans';
$font-secundaria: 'carrois';

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mq-tablet{
    @media (min-width:481px) and (max-width:1023px){
        @content;
    }
}
@mixin mq-desktop{
    @media (min-width:1024px){
        @content;
    }
}