$color-primario: #f7d3e5;
$color-secundario: #68320e;
$color-terciario: #ecbb6b;
$font-principal: 'nunito sans';
$font-secundaria: 'carrois';

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mq-tablet{
    @media (min-width:481px) and (max-width:1023px){
        @content;
    }
}
@mixin mq-desktop{
    @media (min-width:1024px){
        @content;
    }
}