footer{
    div{
    background-color:$color-secundario;
    color:$color-primario;
    display: grid;
    h4{
        justify-self: center;
        margin: 15px;
    }
    a{
        color: $color-letra-footer;
        font-weight: bolder;
        font-style: italic;
        justify-self: center;
        margin: 10px;
        padding: 5px;
        font-size: 40px;
    }
    }
}